%article
  - for tag in article.tags
    .tag
      = link_to tag, articles_path(:tag => tag)
  .title= link_to article.title, article
  .subtitle= article.subhead
  %small.info
  - if article.events.present?
    = article.events.first.start_date.strftime("%A, %b %d")
    @
    = article.events.first.start_date.strftime("%l:%M%P")
  - if article.locations.present?
    at
    = article.locations.first.line_1 + ","
    = article.locations.first.city
    = link_to "map", "http://maps.apple.com/maps?q=#{article.locations.first.latitude},#{article.locations.first.longitude}", :class => "tag-button"
  .hero= image_tag article.image.hero unless article.image.blank?
  %small.info
  - if article.publish_date.present?
    published
    = time_ago_in_words(article.publish_date)
    ago
  - if article.recommended_users.present?
    • recommended by
    = article.recommended_users.count
    - if article.recommended_users.count > 1
      people
    - else
      person
  .body
    %p= Nokogiri::HTML.parse(markdown(article.body)).css('p').first.text
  .readnext
    %small.readmore
      = link_to article do
        Read more
    %span.pull-right
      %i.fa.fa-bullhorn
      %span.recommend-count{'data-id' => '#{@article.id}'}
        = article.recommended_users.count
      %i.star.fa.fa-star-o