= simple_form_for @article, url: {controller: "admin/articles", action: "edit"}, method: :put do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :subhead
    = f.input :body
    = f.input :slug
    = f.input :origin
    = f.input :image
    = f.input :why
    = f.input :tips
    = f.input :publish_date
    = f.input :tag_list
    = f.simple_fields_for :locations do |p|
      p.input :line_1
      p.input :line_2
      p.input :city
      p.input :state_or_province
      p.input :postal_code
    = f.simple_fields_for :events do |e|
      e.input :start_date
      e.input :end_date

  .form-actions
    = f.button :submit
