%article
  - if defined?(index) && index
    - unless params[:tag].present?
      - for tag in article.tags
        - if current_user.present?
          - if @user_tags.include?(tag)
            .tag.center
              = tag
        -elsif article.tags.present?
          .tag
            = link_to article.tags.first, articles_path(:tag => article.tags.first)
    %h1= link_to article.title, article
  - else
    %h1= article.title
  %p.subtitle= article.subhead
  - if defined?(index) && index
    - if article.events.present?
      %small.info
        - if article.events.first.start_date > Time.current
          %strong= custom_time_distance(article.events.first.start_date) + "!"
        - else
          = time_ago_in_words(article.events.first.start_date)
          ago
        = article.events.first.start_date.strftime("%A, %b %d")
        @
        = article.events.first.start_date.strftime("%l:%M%P")
        - if article.locations.present?
          at
          = article.locations.first.line_1 + ","
          = article.locations.first.city
          = link_to "map", "http://maps.apple.com/maps?q=#{article.locations.first.latitude},#{article.locations.first.longitude}", :class => "tag-button"
  %small.info
    - if article.publish_date.present?
      = time_ago_in_words(article.publish_date)
      ago •
    - if defined?(index) && index
      - if article.recommended_users.present?
        recommended by
        = article.recommended_users.count
        - if article.recommended_users.count > 1
          people •
        - else
          person •
    found in:
    - for tag in article.tags
      = link_to tag, articles_path(:tag => tag.name), :class => "tag-button"
  .hero= image_tag article.image.hero
  - if defined?(index) && index
    %p= Nokogiri::HTML.parse(markdown(article.body)).css('p').first.text
  - else
    - if article.events.present? or article.why.present? or article.tips.present?
      %label.margin-toggle{:for => "mn-dates"}
        ⊕ Info
      %input#mn-dates.margin-toggle{:type => "checkbox"}/
      %span.marginnote
        - for event in article.events
          - if event.start_date > Time.current
            %h3.first= custom_time_distance(event.start_date)
          - else
            %h3.first
              = time_ago_in_words(event.start_date)
              ago
          %p.fa.fa-calendar
            = event.start_date.strftime("%A, %b %d")
          %p
            @
            = event.start_date.strftime("%l:%M%P")
            - if event.end_date.present?
              to
              - if event.start_date.day == event.end_date.day
                - if event.start_date.time != event.end_date.time
                  = event.start_date.strftime("%l:%M%P")
              - else
                = event.end_date.strftime("%A, %b %d")
                @
                = event.end_date.strftime("%l:%M%P")
        - if article.why.present?
          %h3 Why?
          %p= article.why
        - if article.tips.present?
          %h3 Tips
          - for tip in article.tips.split(',')
            %p.tip.fa.fa-check= tip
    - if article.locations.present?
      %label.margin-toggle{:for => "mn-location"}
        ⊕ Location
      %input#mn-location.margin-toggle{:type => "checkbox"}/
      %span.marginnote
        = render partial: 'location', locals: { article: article }
    %p= markdown(article.body)

.readnext
  - if defined?(index) && index
    = link_to article do
      continue reading
      %i.fa.fa-arrow-right
      %span.pull-right
        %i.fa.fa-bullhorn
        %span.recommend-count{'data-id' => '#{@article.id}'}
          = article.recommended_users.count
  - else
    - if current_user.present?
      -if current_user.recommended?(article)
        = link_to unrecommend_article_path(article), class: 'vote recommended', method: :put, remote: true, data: { toggle_href: recommend_article_path(article), id: article.id, toggle_class: 'recommend' } do
          %i.fa.fa-bullhorn
      - else
        = link_to recommend_article_path(article), class: 'vote recommend', method: :put, remote: true, data: { toggle_href: unrecommend_article_path(article), id: article.id, toggle_class: 'recommended'  } do
          %i.fa.fa-bullhorn
    - else
      %i.fa.fa-bullhorn
    %span.recommend-count
      = article.recommended_users.count
    - unless article.recommended_users.blank?
      .recommend-users
        - for user in article.recommended_users[0,10]
          = image_tag user.identities.first.avatar.thumb, :class => "circle" unless user.identities.first.blank?
    - if current_user.present?
      - if @cart_line_items.to_s.include? article.id.to_s
        %i.star.fa.fa-star.orange
      - else
        =link_to "", article_add_to_path(article_id: article.id, title: article.title), remote: true, class: "star fa fa-star-o", role: 'button', data: {toggle_href: "", toggle_class: 'fa-star'}
    %span.share
      %a.btn-2
        %i.fa.fa-share
      .share-popover
        = link_to "", onclick: "window.open('http://www.facebook.com/sharer/sharer.php?href=#{article_url(@article)}', 'newwindow', 'width=600, height=300'); return false;" do
          %i.fa.fa-3x.fa-facebook-official
        = link_to "", onclick: "window.open('http://twitter.com/share?text=#{@article.title} via @santacruzdaily&url=#{article_url(@article)}', 'newwindow', 'width=600, height=300'); return false;" do
          %i.fa.fa-3x.fa-twitter-square
        %a.btn
          %i.fa.fa-3x.fa-envelope
      .email-popover
        = render 'share_form'

:javascript
  $('.btn-2').click(function (e) {
    $('.share-popover').toggle();
    return false;
  });

  $('document').ready(function() {
    var regexp = /\b((?:[a-z][\w-]+:(?:\/{1,3}|[a-z0-9%])|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}\/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))/i;

    $('article').innerHTML = aHref.match(/([\w\d\-_]*\.)+(\w*$|\w*\/[\w\d]*)/)[0];
  });
