%h3.first
  %span.fa.fa-map-pin
  The Spot
- for location in article.locations do
  %p
    = location.line_1
    = location.line_2 unless location.line_2.blank?
    %br
    = "#{location.city}, #{location.state_or_province} #{location.postal_code}"
  = link_to image_tag( "https://maps.googleapis.com/maps/api/staticmap?size=315x315&zoom=15&amp;center=37.787,-122.413&markers=color:orange%7Clabel:A%7C#{location.latitude},#{location.longitude}"), "http://maps.apple.com/maps?q=#{location.latitude},#{location.longitude}", :target => "_blank"