- content_for :head do
  %meta{property: "og:title", content: "Santa Cruz Daily"}
  %meta{property: "og:site_name", content: "Santa Cruz Daily"}
  %meta{property: "og:description", content: "Welcome to Santa Cruz Daily, a place to discover and make plans for living, visiting and adventuring in Santa Cruz."}
  %meta{property: "og:type", content: "website"}
  %meta{property: "og:url", content: request.url}
  %meta{property: "fb:admins", content: "750702877"}
  %meta{name: "twitter:title", content: "Santa Cruz Daily"}
  %meta{name: "twitter:description", content: "Welcome to Santa Cruz Daily, a place to discover and make plans for living, visiting and adventuring in Santa Cruz."}
  %meta{name: "twitter:card", content: "summary"}
  %meta{name: "twitter:domain", content: "santacruzdaily.com"}
  %meta{name: "twitter:creator", content: "@santacruzdaily"}
  %meta{itemprop: "headline", content: "Santa Cruz Daily"}
  %meta{itemprop: "description", content: "Welcome to Santa Cruz Daily, a place to discover and make plans for living, visiting and adventuring in Santa Cruz."}
- content_for :title do
  Santa Cruz Daily
- content_for :description do
  What's happening in Santa Cruz
.sidebar
  %h5.center Top happenings this week
  %ol
    - for article in @upcoming
      %li
        = link_to article.title, article
        - for event in article.events
          .small.info
            = event.start_date.strftime("%A, %b %d")
            at
            = article.locations.first.line_1 + ","
            = article.locations.first.city
            = link_to "map", "http://maps.apple.com/maps?q=#{article.locations.first.latitude},#{article.locations.first.longitude}", :class => "tag-button"
.flex.with-sidebar
  .summary
    - if @tag.present?
      - if current_user.present?
        - if !@user_tags.include?(params[:tag])
          .add
            = link_to add_tag_path(@tag.name), id: @tag.name, class: 'follow', remote: true, method: :put, data: {toggle_href: "", toggle_class: 'followed'} do
              .tag.center
                = @tag
        - else
          .add.added
            = link_to remove_tag_path(@tag.name), id: @tag.name, class: 'followed', remote: true, method: :put, data: {toggle_href: add_tag_path(@tag.name), toggle_class: 'follow'} do
              .tag.center
                = @tag
    - if @articles.blank?
      - if @tag.present?
        .tag.center
          = params[:tag]
      %p We don't have any articles on this topic yet. Check back, or submit one!
    - for article in @articles
      = render article, index: true
