%ul
  - for article in @articles
    - unless article.statuses.find_by_status(4)
      %li
        = link_to article_path(article) do
          %i.fa.fa-eye
        = link_to edit_article_path(article) do
          %i.fa.fa-edit
        = article.title
        = article.statuses.last.status
        - if article.statuses.last.published?
          = link_to "delete", change_status_article_path(article, status: "deleted"), remote: true, class: "btn2"
        - elsif article.statuses.last.deleted?
          = link_to "approve", change_status_article_path(article, status: "approved"), remote: true, class: "btn2"
          = link_to "decline", change_status_article_path(article, status: "declined"), remote: true, class: "btn2"

          = link_to "delete", change_status_article_path(article, status: "deleted"), remote: true, class: "btn2"
        - elsif article.statuses.last.declined?
          = link_to "approve", change_status_article_path(article, status: "approved"), remote: true, class: "btn2"
          = link_to "delete", change_status_article_path(article, status: "deleted"), remote: true, class: "btn2"
        - elsif article.statuses.last.approved?
          = link_to "publish", change_status_article_path(article, status: "published"), remote: true, class: "btn2"
          = link_to "delete", change_status_article_path(article, status: "deleted"), remote: true, class: "btn2"