%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Comfortaa", :rel => "stylesheet", :type => "text/css"}
  %body{style: "font-size: 14px; color: #292929; width: 90%; margin: 20px auto;"}
    %div{style: "text-align: center;"}= image_tag('santa-cruz-daily-octopus.png', style: "width: 100px;")
    %div{style: "font-family: 'Comfortaa'; font-size: 1.5em; margin: 20px auto 0; text-align: center;"} Santa Cruz Daily Lineup
    %hr{style: "width: 30%; display: block; height: 1px; border: 0; border-top: 1px solid #bbb; margin: 1em auto 2em; padding: 0; "}
    = yield
    %div{style: "text-align: center; font-size: .7em; margin-top: 30px;" }
      %p{style: "font-family: 'Open Sans', sans-serif;" }
        Sent by Santa Cruz Daily •
        = link_to "Twitter", "http://twitter.com/santacruzdaily", target: '_blank'
        •
        = link_to "Instagram", "http://instagram.com/thesantacruzdaily", target: '_blank'
        •
        = link_to "Facebook", "http://facebook.com/santacruzdaily", target: '_blank'
